---
import BaseLayout from "./BaseLayout.astro"
import Tags from "../components/Tags.astro"
const {frontmatter} = Astro.props
---
<BaseLayout pageTitle={frontmatter.title}>
  <article>
    <h1 class="">{frontmatter.title}</h1>
    <p class="not-prose font-pixel text-sky-500">{frontmatter.description}</p>
    <div class="py-2">
      <span class="font-pixel">{frontmatter.author}</span>
      <span class="font-pixel pl-2"> ({frontmatter.pubDate.toString().slice(0,10)})</span>
    </div>
      <Tags tags={frontmatter.tags}/>
    <slot />
  </article>
</BaseLayout>

